@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap");

body {
	overflow-x: hidden;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	font-size: 18px !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3 {
	font-family: jetbrains mono !important;
}

@media (min-width: 576px){
	
}